<!DOCTYPE html>
<html class="no-js fade">

<head>

  <title>{{ page.title }} - {{ site.name }}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-language" content="en-us" />

  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="atom.xml" type="application/atom+xml" rel="alternate" title="DRNR Feed">

  {% include shared/styles.html %}

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'>

  <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
  <script src="/vendor/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>

  <body>

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include shared/off-canvas.html %}

    <div class="wrapper">

      {% include shared/header-fixed.html %}

      <main>
        
        <article class="single-content" itemscope itemtype="http://schema.org/CreativeWork">
          
          {% if page.feature-image %}
          <section class="hero-image hero-slider">
            <ul class="slides">
              <li class="background-parallax">
                <img alt="{{ site.name }}" class="background-image" src="{{ page.feature-image }}" itemprop="image">  
                {% if page.feature-image-title %}
                  <div class="slide-content animate"> 
                    <h1 class="page-title hero-title" itemprop="name headline">{{ page.feature-image-title }}</h1> 
                  </div>
                {% endif %}
                <div class="overlay"></div>
              </li>              
            </ul>
          </section>
          {% endif %}

          <div class="hero-wrap-centered" itemprop="about"> 
            <div class="outer-container">           
            
              <div class="hero-meta">
                <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
                <p>{{ page.subtitle }}</p>
              </div>              

              <div itemprop="description" class="hero-content">
                {{ content }}
                {% if page.plink %}                 
                  <p align="center"><a class="plink" href="{{ page.plink }}"><button>Launch</button></a></p>                  
                {% endif %}               
              </div>

            </div>           
            
          </div>

        </article>

        {% include portfolio-grid.html %}

      </main>

      {% include shared/footer.html %}

    </div>

    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}

  </body>
</html>
