footer {
  padding: 0 0 $spacing-l;
  width: 100%;
  text-align: center;
  font-size: .8em;

  img {
    max-width: 30px;
    margin-bottom: 10px;   
  }

  .footer__link {
    color: $text-color;
    padding-bottom: 1px;
    border-bottom: 1px solid;
  }
}

