.off-wrapper {
  @include outer-container(90%);
  margin-top: 120px;

  @include media($medium-screen) {
    @include outer-container(80%);
    margin-top: 150px;
  }
}

.off-canvas {
  @extend %transition;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  overflow: scroll;
  left: 0;
  right: 0;

  &.toggled {
    top: 0;
  }

  div {
    @include row();
  }

  .avatar {
    @include span-columns(12);
    display: block;    
    margin-bottom: $spacing-m;
    text-align: center;

    img {
      width: 6em;
      height: auto;
      border-radius: 50%;
    }
    
    @include media($medium-screen) {
      @include span-columns(2);
      text-align: left;
      margin-bottom: $spacing-s;
    }

  }


  .bio {
    @include span-columns(12);
    display: block;

    h2 {
      @extend h3;
      margin: 0 0 .5em;
    }
    p {
      color: lighten($text-color, 60%);
      margin-bottom: 0;
    }
    @include media($medium-screen) {
      @include span-columns(10);
    }
  }


  .service {
    @include span-columns(12);
    p {
      color: lighten($text-color, 60%);
    }
    @include media($medium-screen) {
      @include span-columns(6);
    }
  }


  nav {
    @include span-columns(12);

    ul {
      margin: 0;
      padding: 0;
    }

    ul li {
      font-size: 1.6em;
      list-style-type: none;
      margin-top: $spacing-s;
      margin-bottom: $spacing-xs;
      margin-right: $spacing-xs;
      float: left;
      a {
        text-decoration: none;
        color: white;
      }
    }

    @include media($medium-screen) {
      @include span-columns(4);
    }

  }

  .cta {
    @include span-columns(12);
    text-align: left;
    margin: $spacing-s 0 $spacing-xl;

    button {
      margin-left: 0;
      margin-right: 10px;
    }

    span {
      font-size: .8em; 
      visibility: hidden;
      display: none;
    }

    @include media($medium-screen) {
      @include span-columns(8);
      text-align: right;
      & span {
        visibility: visible;
        display: inline-block;
      }

      & button {
        margin-left: 10px;
        margin-right: 0;
      }
    }

  }

}
