.grid-wrapper {
  margin: $spacing-m 0;
  padding: 0;
  @include clearfix;

  background: white;

  a {
    text-decoration: none;
    color: $text-color;
  }

  .grid-inner {
    @include outer-container(90%);

    @include media($medium-screen) {
      @include outer-container(80%);
     }
  }

  .grid-item {
    @include span-columns(12);
    position: relative;
    @include transition (all 0.15s ease-in-out);
    background: white;
    padding: 0;
    margin-bottom: $spacing-l;

    .highlight-tag {
      position: absolute;
      right: 0;
      display: inline-block;
      background: $main-color;
      color: white;
      font-size: .6em;
      font-weight: 700;
      padding: 0.4em;
    }

    .post-content {
      @include transition (all 0.4s ease-in-out);
      margin: $spacing-xs 0 0;

      h2 {
        font-size: .8em;
        margin: 0;
      }

      p {
        font-size: .8em;
        margin: 0;
      }

    }

    @include media($medium-screen) {
      @include span-columns(4);
      @include omega(3n);

      // Hover effects only on desktops
      &:hover {
        opacity: .6;
      }

    }

  }

}

