.icon-twitter,
.icon-github,
.icon-dribbble,
.icon-instagram,
.icon-kirby,
.icon-wordpress,
.icon-html,
.icon-css,
.icon-php {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\e605";
  width: 100%;
}

.icon-github:before {
  content: "\e604";
  width: 100%;
}

.icon-dribbble:before {
  content: "\e606";
  width: 100%;
}

.icon-instagram:before {
  content: "\e603";
  width: 100%;
}

.icon-kirby:before {
  content: "\e608";
  width: 100%;
}

.icon-wordpress:before {
  content: "\e607";
  width: 100%;
}

.icon-html:before {
  content: "\e602";
  width: 100%;
}

.icon-css:before {
  content: "\e600";
  width: 100%;
}

.icon-php:before {
  content: "\e601";
  width: 100%;
}

// Icon Circles

.icon-wrapper {
  display: block;
  height: 2em;
  width: 2em;
  margin-bottom: 1.2em;
  border-radius: 50%;
  padding-top: 10px;
  color: white;
  background: $text-color;
}

.icon-wrapper span {
  text-align: center;
  width: 100%;
  display: flex;
}