.hero-wrap,
.hero-wrap-centered {
  @include outer-container(90%);
  padding-bottom: 60px;

  @include media($medium-screen) {
    @include outer-container(80%);
  }
}

.hero-image { 
  z-index: $z-content;
  overflow: hidden; 
  margin-bottom: $spacing-m;
  height: auto;

  //.slide-content { z-index: $z-above-content; position: absolute; width: 100%; }
  //.story-title { text-align: center; }
  //.story-title-dark { color: #fff; }

  .background-bright { background: #fff; }
  .background-dark { background: #222; }  
  .overlay { position: absolute; height: 100%; width: 100%; opacity: 0.4; z-index: $z-content; top: 0px; }

  @include media($medium-screen) {
    height: 80vh;
    margin-bottom: $spacing-l;
  }

}

.hero-wrap .hero-meta {
  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(5);
  }

  h1.page-title {
    margin:0;
    text-align: left;
    font-size: 140%;
    line-height: 135%;
    word-wrap: break-word;

    @include media($medium-screen) {
      font-size: 180%;
    }    

  }

  p {
    color: gray;
  }
}

.hero-wrap .hero-content {
  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(7);
  }

}


.hero-wrap-centered .hero-meta {
  @include span-columns(12);

  h1.page-title {
    margin:0;
    text-align: center;
    font-size: 140%;
    line-height: 135%;
    word-wrap: break-word;

    @include media($medium-screen) {
      font-size: 180%;
    }    

  }

  p {
    color: gray;
    text-align: center;
  }

}

.hero-wrap-centered .hero-content {
  @include span-columns(12);
}

.hero-wrap-centered .tight {
  @include span-columns(12);
  margin-bottom: $spacing-m;

    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);
    }
}