.single-wrap {
  @include outer-container(90%);
  padding: 120px 0 60px;

  @include media($medium-screen) {
    @include outer-container(80%);
  }

  font-family: $font-family;

  h1.page-title {
    font-size: 180%;
    line-height: 135%;
    text-align: center;
    margin: 0 0 $spacing-m;
  }

  blockquote {
    font-size: 150%;
    font-family: $font-family;
    font-weight: lighter;
    color: lighten($text-color, 40%);
    border-left: 4px solid $main-color;
    padding-left: $spacing-s;
    margin-top: $spacing-m;
    margin-bottom: $spacing-m;
    line-height: 165%;

    @media (max-width: 942px) {
      margin-left: 0;
    }
    
    p {
      padding-left: 0!important;
      padding-right: 0!important;
    }

  } // end blockquote

} // end #single-wrap