{% if site.categories.portfolio %}

  <div class="grid-wrapper" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="grid-inner">

    {% for post in site.categories.portfolio limit:15 %}
      <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url" class="grid-item">

        {% if post.feature-image %}
          <div class="post-image">
            {% if post.highlight %}
              <div class="highlight-tag">{{ post.highlight }}</div>
            {% endif %}
            <img src="{{ post.preview-image }}" itemprop="image">
          </div>
        {% endif %}

        <div class="post-content" itemprop="about">
          <h2 itemprop="name headline">{{ post.title }}</h2>
          <p>{{ post.subtitle }}</p>
        </div>

      </a>
    {% endfor %}

    </div>
  </div>

{% endif %}