// Made with the awesome http://icomoon.io/ !

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?cywurj');
  src:url('../fonts/icomoon.eot?#iefixcywurj') format('embedded-opentype'),
    url('../fonts/icomoon.woff?cywurj') format('woff'),
    url('../fonts/icomoon.ttf?cywurj') format('truetype'),
    url('../fonts/icomoon.svg?cywurj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}